<h2>Map Redmine project to Pivotal Tracker project and labels.</h2>
<%= form_for :mapping , :url => { :controller => :mappings, :action => :create } do |f| %>

  <div class="box">

    <label>
      <h4>Redmine project <span class="required"> *</span> </h4>
    </label>

    <p>
      <%= f.select :project_id, options_for_select(@projects.map { |p| [p.name, p.id]})  %> <br />
    </p>

    <label> <h4> Pivotal Tracker project <span class="required"> *</span></h4> </label>

    <p>
      <%= select_tag 'tracker_project_id', options_for_select(@tracker_projects.map {|p| [p.name, p.id] } ) %> <br />
    </p>

    <label><h4> Project labels </h4></label>

    <p>
      <%= f.select :label, @labels %><br />
    </p>

  </div>

  <%= render :partial => 'config' %>



  <p>
    <%= submit_tag 'Add mapping',:name=>'save' %>
    <%= link_to 'Cancel', :action => :index %>
  </p>

<% end %>

